.rooms_tab{
    display:flex;
    flex-flow:column;
    align-items:center;
    width: 30%;
    max-width: 350px;
    border-right:solid 1px black;
    padding: 20px;
    gap: 20px;
}

.rooms_tab > *{
    width: 80%;
}